.Button {
    cursor: pointer;
    padding: 20px;
    border: none;
    outline: none;
}

.clear {
    padding: 0;
    background: none;
}

.outline {
    border: 2px solid var(--primary-color);
    background: none;
}

.primary {
    color: var(--primary-color);
}

.inverted {
    color: var(--inverted-primary-color);
}
