.ArticleList {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.CARD {
    .card {
        display: inline-flex;
        width: 240px;
        height: 300px;
    }

    .row {
        display: flex;
    }
}
