.Comment {
    width: 100%;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    font: var(--font-m);
    padding: 10px 15px;
}

.userInfo {
    display: flex;
    margin-bottom: 5px;
    gap: 5px;
}
