.AppMenu {
    position: relative;
}

.lbtn {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.items {
    background: var(--card-color);
    position: absolute;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 2px 2px 8px var(--card-color);
    display: flex;
    flex-direction: column;
}

.item {
    padding: 10px 28px;
    border-radius: 4px;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.75;
}

.topLeftDirection {
    bottom: 100%;
    right: 0;
}

.topRightDirection {
    bottom: 100%;
    left: 0;
}

.downLeftDirection {
    top: 100%;
    right: 0;
}

.downRightDirection {
    top: 100%;
    left: 0;
}
