.dark_theme {
    --bg-color: #121212;
    --inverted-bg-color: rgb(255 255 255 / 70%);
    --primary-color: #ffe6e6;
    --secondary-color: rgb(179 168 168 / 76%);
    --inverted-primary-color: #433636;
    --inverted-secondary-color: #fff;
}
