.app.dark {
    --bg-color: #252222;
    --inverted-bg-color: white;
    --primary-color: #fff;
    --secondary-color: #b3a8a8;
    --inverted-primary-color: #0c0b0b;
    --inverted-secondary-color: #2b2828;
}
