.dark_theme {
    --bg-color: #09080c;
    --inverted-bg-color: rgb(219 216 230 / 81%);
    --primary-color: #f9f7fd;
    --secondary-color: #1d232b;
    --inverted-primary-color: #121212;
    --inverted-secondary-color: #492c2c;
}
