.light_theme {
    --bg-color: rgb(219 216 230 / 81%);
    --inverted-bg-color: #09080c;
    --primary-color: #121212;
    --secondary-color: #2b2828;
    --inverted-primary-color: #f9f7fd;
    --inverted-secondary-color: #b3a8a8;
}
