.light_theme {
    --bg-color: rgb(168 162 162 / 70%);
    --inverted-bg-color: #121212;
    --primary-color: #121212;
    --secondary-color: #2b2828;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #b3a8a8;
}
