.light_theme {
    --bg-color: rgb(219 216 230 / 81%);
    --inverted-bg-color: #09080c;
    --primary-color: #121212;
    --secondary-color: #2b2828;
    --inverted-primary-color: #f9f7fd;
    --inverted-secondary-color: #b3a8a8;

    // skeleton
    --skeleton-color: rgb(149 147 163 / 81%);
    --skeleton-shadow: rgb(170 167 195);

    // code color
    --code-bg: #d8d8d8;
    --code-border: #8e7272;
    --card-color: rgb(184 179 179 / 81%);
}
