.purple_theme {
    --bg-color: #400d43;
    --inverted-bg-color: #faf4fb;
    --primary-color: #faf4fb;
    --inverted-primary-color: #66156f;
    --secondary-color: #faf4fb;
    --inverted-secondary-color: #66156f;

    // skeleton
    --skeleton-color: #84138a;
    --skeleton-shadow: #9a43a1;

    // code color
    --code-bg: #642368;
    --code-border: #dc79e3;
    --card-color: #59185e;
}
