.purple_theme {
    --bg-color: #400d43;
    --inverted-bg-color: #faf4fb;
    --primary-color: #faf4fb;
    --inverted-primary-color: #66156f;
    --secondary-color: #faf4fb;
    --inverted-secondary-color: #66156f;
}
