.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  font: var(--font-l);

  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.link {
  margin-right: 15px;
}

.links {
  margin-left: auto;
}