.Card {
    background-color: var(--card-color);
    position: relative;
    padding: 6px 15px;
    border-radius: 10px;
}

.outline {
    border: 1px solid var(--primary-color);
    background: none;
}

.fullWidth {
    width: 100%;
}